<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Page-specific information -->
		<title>{{ title | default: app.title }}</title>
		<meta name="description" content="{{ seo_description | default: excerpt | default: app.description }}">

{% include _app/_globals/styles %}

  </head>

  <body class="app{% if layout_type %} {{ layout_type }}{% endif %}{% if contentType %} {{ contentType }} {{ contentType }}-{{ page.fileSlug }}{% endif %}">

{% include _app/_globals/header %}

{% include _app/_components/navigation %}

		<main id="content" class="app-main">